.footer {
  background-color: #e1d8d2; /* Màu nâu */
  padding-top: 10px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px; /* Khoảng cách giữa nav và footer */
}

.column {
  text-align: left;
}

.column:first-child {
  width: 50%; /* Cột đầu tiên chiếm 60% */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều dọc */
}

.column:not(:first-child) {
  width: 20%; /* Các cột còn lại chiếm 20% */
}

.heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.content {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.icon {
  width: 24px; /* Kích thước icon */
  height: 24px; /* Kích thước icon */
  margin-right: 10px;
}

.Infor {
  border-radius: 10px; /* Bo góc */
  padding: 0px; /* Khoảng cách bên trong */
  max-width: 400px; /* Chiều rộng tối đa */
  margin: 20px auto; /* Giữa trang */
  text-align: left; /* Căn trái nội dung */
}

.heading {
  font-size: 18px; /* Kích thước chữ */
  color: #333; /* Màu chữ tối */
  margin: 10px 0; /* Khoảng cách giữa các đoạn */

  transition: color 0.3s; /* Hiệu ứng chuyển màu */
}

